<!-- Main author: Brian Saavedra-->

<div id = "allEvents">
	<div id = 'hostNotRegisteredEvents' class = 'event-container'>
		<% for(var i = 0; i<hostNotRegisteredEvents.length; i++) { %>
			<% include ./hostNotRegisteredEvent %>
		<% } %>
	</div>
	<div id = 'hostRegisteredEvents' class = 'event-container'>
		<% for(var i = 0; i<hostRegisteredEvents.length; i++) { %>
			<% include ./hostRegisteredEvent %>	
		<% } %>
	</div>
	<div id = 'attendingNotRegisteredEvents' class = 'event-container'>
		<% for(var i = 0; i<attendingNotRegisteredEvents.length; i++) { %>
			<% include ./attendingNotRegisteredEvent %>
		<% } %>
	</div>
	<div id = 'attendingRegisteredEvents' class = 'event-container'>
		<% for(var i = 0; i<attendingRegisteredEvents.length; i++) { %>
			<% include ./attendingRegisteredEvent %>
		<% } %>
	</div>
</div>