<!-- Main author: Brian Saavedra-->

<div id = "allEvents">
	<div id = 'hostRegisteredEvents' class = 'event-container'>
		<h3>Dibs events you're hosting</h3>

		<% if(hostRegisteredEvents.length===0) { %>
			<p>No events that you're hosting are using dibs :(</p>
		<% } %>
		
		<% for(var i = 0; i<hostRegisteredEvents.length; i++) { %>
			<div class="panel panel-primary home">
				<% include ./hostRegisteredEvent %>	
			</div>
		<% } %>
	</div>
	<div id = 'attendingRegisteredEvents' class = 'event-container'>
		<h3>Dibs events you're attending</h3>

		<% if(attendingRegisteredEvents.length===0) { %>
			<p>No events that you're attending are using dibs. Contact event hosts to enable dibs integration!</p>
		<% } %>

		<% for(var i = 0; i<attendingRegisteredEvents.length; i++) { %>
			<div class="panel panel-primary home">
				<% include ./attendingRegisteredEvent %>
			</div>
		<% } %>
	</div>
	<div id = 'hostNotRegisteredEvents' class = 'event-container'>
		<h3>Other events you're hosting - <b>register them with dibs!</b></h3>

		<% if(hostNotRegisteredEvents.length===0) { %>
			<p>You're not hosting any events that aren't already registered with dibs.</p>
		<% } %>
		
		<% for(var i = 0; i<hostNotRegisteredEvents.length; i++) { %>
			<div class="panel panel-primary home">
				<% include ./hostNotRegisteredEvent %>
			</div>
		<% } %>
	</div>
	<div id = 'attendingNotRegisteredEvents' class = 'event-container'>
		<h3>Other events you're attending - <b>contact hosts to support dibs integration!</b></h3>

		<% if(attendingNotRegisteredEvents.length===0) { %>
			<p>You're not attending any events that aren't already registered with dibs.</p>
		<% } else { %>
			<div class="panel panel-primary home">
			<% for(var i = 0; i<attendingNotRegisteredEvents.length; i++) { %>
				<% include ./attendingNotRegisteredEvent %>
			<% } %>
			</div>
		<% } %>
		
	</div>
</div>