<!-- Main author: Brian Saavedra-->

<div id = "allEvents">
	<div id = 'hostNotRegisteredEvents' class = 'event-container'><%= partial('hostNotRegisteredEvent.ejs') %></div>
	<div id = 'hostRegisteredEvents' class = 'event-container'><%= partial('hostRegisteredEvent.ejs') %></div>
	<div id = 'attendingNotRegisteredEvents' class = 'event-container'><%= partial('attendingNotRegisteredEvent.ejs') %></div>
	<div id = 'attendingRegisteredEvents' class = 'event-container'><%= partial('attendingRegisteredEvent.ejs') %></div>
</div>