<!-- Main author: Brian Saavedra-->

<div data-event-id = <%= attendingRegisteredEvents[i].id %>> 
	<p class = 'date'><%= attendingRegisteredEvents[i].start_time %></p>
	<p class = 'eventTitle'><%= attendingRegisteredEvents[i].name %></p>
	<button class = 'suggest-button'>See Event</button>
</div>