<!-- Main author: Brian Saavedra-->

<li class="list-group-item" class = 'singleEvent' data-event-id = <%= attendingNotRegisteredEvents[i].id %>> 
	<p class = 'date'><%= attendingNotRegisteredEvents[i].start_time %></p>
	<p class = 'eventTitle'><%= attendingNotRegisteredEvents[i].name %></p>
</li>