<!-- Main author: Brian Saavedra-->

<div data-event-id = <%= eventID %>> 
	<p class = 'date'><%= eventDate %></p>
	<p class = 'eventTitle'><%= eventTitle %></p>
	<button class = 'suggest-registration-button'>Suggestion Dibs Registration</button>
</div>