<!-- Main author: Brian Saavedra-->

<li class="list-group-item" class = 'singleEvent' data-event-id = <%= attendingRegisteredEvents[i].id %>> 
	<p class = 'date'><%= attendingRegisteredEvents[i].start_time %></p>
	<p class = 'eventTitle'><%= attendingRegisteredEvents[i].name %></p>
	<button class="btn btn-sm btn-success" class = 'suggest-button'>Go to Event</button>
</li>