<div class="guestPreEvent" data-id = "<%= _event._id %>">
    <h1><%= _event._title %> Suggestions</h1>
    <p>Make up to 3 drink suggestions for <%= _event._title %>:</p>
	<form id="suggest-form" data-id = "form">
		Suggestion 1:<br>
		<input type="text" name="suggestion1">
		<br>
		Suggestion 2:<br>
		<input type="text" name="suggestion2">
		<br>
		Suggestion 3:<br>
		<input type="text" name="suggestion3">
		<br><br>
		<input type="submit" name="Submit" data-id = "button">
	</form>
</div>