<div class="guestPreEvent" data-id = "<%= _event._id %>">
        <h1><%= _event._title %></h1>

        <p><%= _event._title %></p>
        <p>Event starting at <%= _event.start %>!
        <br>Come back then!</p>

</div>