<div class="guestPreEvent" data-id = <%= event._id %>>
        <h1><%= eventName %></h1>

        <p><%= eventName %></p>
        <p>Event starting at <%= eventTime %>!
        <br>Come back then!</p>

</div>