<!-- Main author: Brian Saavedra-->

<div data-event-id = <%= hostRegisteredEvents[i].id %>> 
	<p class = 'date'><%= hostRegisteredEvents[i].start_time %></p>
	<p class = 'eventTitle'><%= hostRegisteredEvents[i].name %></p>
	<button class = 'see-suggestions-button'>Go to Event</button>
</div>