<!-- Main author: Brian Saavedra-->

<div data-event-id = <%= hostNotRegisteredEvents[i].id %>> 
	<p class = 'date'><%= hostNotRegisteredEvents[i].start_time %></p>
	<p class = 'eventTitle'><%= hostNotRegisteredEvents[i].name %></p>
	<button class = 'register-button'>Register</button>
</div>


