<div class="hostPreEvent" data-id = <%= event._id %>>
        <h1><%= eventName %></h1>

        <p><%= eventName %></p>
        <p>Event starting at <%= eventTime %>!
        <br>Go buy drinks!</p>
</div>