<!-- Main author: Brian Saavedra-->

<div class="panel-body" class = 'singleEvent' data-event-id = <%= hostNotRegisteredEvents[i].id %>> 
	<p class = 'eventTitle'><%= hostNotRegisteredEvents[i].name %></p>
	<button class="btn btn-sm btn-primary register-button">Register</button>
</div>


