<!-- Main author: Brian Saavedra-->

<div class="panel-body" class = 'singleEvent' data-event-id = <%= hostRegisteredEvents[i].id %>> 
	<p class = 'eventTitle'><%= hostRegisteredEvents[i].name %></p>
	<button class="btn btn-sm btn-primary see-suggestions-button">Go to Event</button>
</div>