<!-- Main author: Brian Saavedra-->

<li class="list-group-item" class = 'singleEvent' data-event-id = <%= hostRegisteredEvents[i].id %>> 
	<p class = 'date'><%= hostRegisteredEvents[i].start_time %></p>
	<p class = 'eventTitle'><%= hostRegisteredEvents[i].name %></p>
	<button class="btn btn-sm btn-success" class = 'see-suggestions-button'>Go to Event</button>
</li>