<!-- Main author: Brian Saavedra-->

<li class="list-group-item" class = 'singleEvent' data-event-id = <%= hostNotRegisteredEvents[i].id %>> 
	<p class = 'date'><%= hostNotRegisteredEvents[i].start_time %></p>
	<p class = 'eventTitle'><%= hostNotRegisteredEvents[i].name %></p>
	<button class="btn btn-sm btn-success register-button">Register</button>
</li>


