<div class="menu" data-id = <%= menu_id %>>
    <h1>Menu</h1>

    <p><%= eventName %></p>
    <ul>
    <% for (var i = 0; i < drinks.length; i++){ %>
    	<% if (drinks[i].stock > 0) { %>
    		<li> <%= drinks[i].drink + ": " + drinks[i].stock %>
    		<button id="submit-dibs" data-drink="<%=drinks[i].drink %>">Dibs!</button>
    		</li>
    	<% } %>
	<% } %>
	</ul>
</div>
