<div class="queue">
	<h1>Order Queue</h1>
	<% for (var i=0; i<orderAttributes.length; i++) { %>
		<div>
			<li><%= orderAttributes[i].timeStamp %></li>
			<li><%= orderAttributes[i].fromUser %></li>
			<li><%= orderAttributes[i].drink %></li>
			<button id=servedButton>Served</button>
			<button id=notifyButton>Notify</button>
		</div>
	<% } %>
</div>