body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

a {
  color: #00B7FF;
}

#welcomeBody {
	background-image: url("background.jpg");
 	background-repeat: no-repeat;
}

.date {
	margin-top: 15px;
	font-size: 50%;
	margin-bottom: 1px;
}

.eventTitle {
	margin-bottom: 2px;
}

.menuSuggestions {
	float:left;
	width:400px;
}

.eventQueue {
	float:left;
	width: 500px;
}

.hostsMenu{
	float:right;
	width: 500px;
}

.singleEvent {
	background: #B0C4DE;
	border-radius: 10px;
	text-align: center;
	border-style: solid;
}

.menu {
	float:left;
	width: 400px;
}

.currentOrders {
	float:right;
	width: 500px;
}

#notifyButton {
	float:right;
}

#servedButton {
	float:right;
}

.removeDrink {
	float:right;
}

.page-header {
	border-bottom: 1px solid #000000;
}

.see-suggestions-button {
	float:right;
}

.register-button {
	float:right;
}

.suggest-button {
	float:right;
}

.home {
	width: 815px;
}