body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.date {
	margin-top: 15px;
	font-size: 50%;
	margin-bottom: 1px;
}

.eventTitle {
	margin-bottom: 2px;
}

.menuSuggestions {
float:left;
width:400px;
}

.eventQueue {
float:left;
width:400px;
}

.hostsMenu{
float:right;
width:500px;
}

