body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.date {
	font-size: 50%;
	margin-bottom: 0px;
}

.event-container {
	display: inline-block;
}